p {
font-family:Montserrat;
margin-top: 0px;
margin-bottom: 0px;
text-align: center;
}
.model-name {
 font-size: 40px;
  vertical-align: top; 
 font-weight: bold;
 margin-bottom: 10px;
 
}
.delivery-click {
  text-decoration: underline;
}