.main-bg{
  display: flex;
}
.inner-div {
  padding: 30px;
  border: 1px solid #000;
  margin: 20px;
  text-align: center;;
}

#div1 {
  background-color: yellow;
  padding: 50px;
  border: 1px solid #000;
  width: 300px;
}

#div2 {
  background-color: blanchedalmond;
  padding: 50px;
  border: 1px solid #000;
  width: 200px;
}

#sample-table {
  border: 1px solid #000;
}