.button {
    background-color: rebeccapurple;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: black 1px solid;
    width: 300px;
    display: flex;
}
.joke {
    margin: 10px;
    padding: 10px;
    border: black 1px solid;
    border-radius: 5px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.button:hover {
    cursor: pointer;
}

.search-by-category-input {
    background-color: rgb(191, 14, 14);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: black;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}